Source: pragmatic
Section: science
Priority: extra
Maintainer: Gerard Gorman <g.gorman@imperial.ac.uk>
Build-Depends: debhelper (>= 5), autotools-dev, libvtk5-dev
Standards-Version: 3.7.2

Package: pragmatic
Architecture: any
Depends: ${shlibs:Depends}
Description: PRAgMaTIc (Parallel anisotRopic Adaptive Mesh ToolkIt) provides 2D/3D
 anisotropic mesh adaptivity for meshes of simplexes. The target
 applications are finite element and finite volume methods although the
 it can also be used as a lossy compression algorithm for 2 and 3D data
 (e.g. image compression). It takes as its input the mesh and a metric
 tensor field which encodes desired mesh element size
 anisotropically. The toolkit is written in C++ and has OpenMP and MPI
 parallel support.

